body{
    text-align: center;
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 20px 10px;
}
.red{
    background-color: rgb(229, 105, 47);

}
.blue{
    background-color: rgb(35, 223, 233);
}
.green{
    background-color: rgb(18, 209, 18);
}
.yellow{
    background-color: rgb(215, 215, 36);
}
.flash{
    background-color: white;
}