body{
    text-align: center;
}
h1{
    display: inline-block;

}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 20px 10px;
}
.red{
    background-color: rgb(229, 105, 47);

}
.blue{
    background-color: rgb(35, 223, 233);
}
.green{
    background-color: rgb(18, 209, 18);
}
.yellow{
    background-color: rgb(215, 215, 36);
}
.flash{
    background-color: white;
}
#mode{
    background-color: black;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: 5rem;
    margin-top: -3rem;
    font-size: larger;
}
#mode:hover{
    background-color: rgba(219, 205, 205, 0.822);
    color: rgba(42, 37, 37, 0.793);
    
}
#white{
    background-color: rgb(0, 0, 62);
    color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: 5rem;
    margin-top: -3rem;
    font-size: larger;
}